[SddmGreeterTheme]
Name=Deepin
Description=Deepin-like SDDM theme.
License=CC-BY-SA
Type=sddm-theme
Version=1.0
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=deepin
Theme-API=2.0
